body{
  margin: 0;
  width: 100%;
}

.App{
  width: 70%;
  margin: 0 auto;
  border: solid blue 8px;
}

.shopPage{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card{
  width: 30%;
  padding: 8px;
  border: solid blue 2px;
  border-radius: 8px;
  text-align: center;
}